body {
    
}

.header {

}

#new-book-btn-container {

}

#new-book-btn {

}

#book-form-container {

}

#book-form {
    width: 600px;
    margin: auto auto 50px auto;
    padding: 20px 30px 20px 20px;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 4px 2px -2px #808080;
}

legend {
    text-align: center;
    margin-bottom: 40px;
}

.text-input {
    margin-bottom: 30px;

    display: flex;
    flex-direction: column;
}

.boolean-input {
    margin-bottom: 20px;

    display: flex;
    align-items: start;
    gap: 20px;
}

label {
    margin-bottom: 10px;
}

input[type="text"] {
    background-color: #FFFFFF;
    border: 1px solid #E5E7EB;
    border-radius: 3px;
    width: 100%;
    padding: 7px;
    font-size: 12px;
}

input:focus {
    border: 1px solid #2e2ea1;
}

input:invalid {
    border: 1px solid #db1919;
    color: #db1919;
}

#error-message {
    color: #db1919;
}

#add-book-btn {
    text-align: center;
    margin-bottom: 10px;
}

#library-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

.book-container {

}

.read-btn {
    
}

.remove-book-btn {
    color: red;
}